:root {
    --bg: #0f1226;
    --surface: #161a34;
    --surface-2: #1d2246;
    --text: #f5f7ff;
    --muted: #c7ccff;
    --border: #343b76;

    --brand: #aab4ff;
    --brand-strong: #c1c9ff;

    --accent: var(--brand);
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #fff2f2;
        --surface: #ffffff;
        --surface-2: #fff7f7;
        --text: #1b1f3a;
        --muted: #4f5578;
        --border: #eadfe0;

        --brand: #2d336b;
        --brand-strong: #3b4287;
        --accent: var(--brand);
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    background: var(--bg);
    color: var(--text);
}

body {
    margin: 0;
    font-family:
        system-ui,
        -apple-system,
        Segoe UI,
        Roboto,
        Ubuntu,
        Cantarell,
        Noto Sans,
        Helvetica,
        Arial,
        "Apple Color Emoji",
        "Segoe UI Emoji";
    color: var(--fg);
    background: var(--bg);
}

/* a {
    color: var(--accent);
} */

a {
    color: var(--accent) !important;
    text-decoration: underline;
    text-underline-offset: 2px;
}

button,
input,
select {
    font: inherit;
    color: inherit;
}
